{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
<script type="text/javascript" src="{% static 'js/jquery-1.4.2.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cufon-replace.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/Myriad_Pro_italic_600.font.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Myriad_Pro_italic_400.font.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Myriad_Pro_400.font.js' %}"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="main">
	

<!-- header -->
		<header>
			<div class="wrapper">
				<h1>
					<a href="index.html" id="logo">Air Lines</a><span id="slogan">International Travel</span>
				</h1>
				<div class="right">
					<nav>
						<ul id="top_nav">
							<li><a href="index.html"><img src="images/img1.gif" alt=""></a></li>
							<li><a href="index-4.html"><img src="images/img2.gif" alt=""></a></li>
							<li class="bg_none"><a href="#"><img src="images/img3.gif" alt=""></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li id="menu_active"><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'our_flight' %}">Our Aircraft</a></li>
							<li><a href="{% url 'new_passenger' %}">New Passengers</a></li>
							<li><a href="{% url 'group_members' %}"> Group Members </a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	</div>
</div>

{% block content %}
{% endblock content %}

<div class="body2">
	<div class="main">
<!-- footer -->
		<footer>
			<a href="{% static 'http://www.templatemonster.com/' %} " target="_blank" rel="nofollow">www.templatemonster.com</a><br>
			<a href="{% static 'http://www.templates.com/product/3d-models/' %}" target="_blank" rel="nofollow">www.templates.com</a>
		</footer>
<!-- / footer -->
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
