{% extends 'base.html' %}
{% block content %}
<h2> Group Members </h2>
	<table>
							<thead>
								<tr>
									<td>S/N</td>
									<td>Names</td>
									<td>Reg.No</td>
								</tr>
							</thead>
							<tbody>
									<tr>
										<td>1</td>
										<td>Abubakar Muhammad-Sagir Sulaiman</td>
										<td>CST\18\COM\00017</td>
									</tr>
									<tr>
											<td>2</td>
											<td>AbdulKareem AbdulFatai</td>
											<td>CST\18\COM\00002</td>
										</tr>
										<tr>
												<td>3</td>
												<td>Aliyu Mustapha Umar</td>
												<td>CST\18\COM\00110</td>
											</tr>
											<tr>
													<td>4</td>
													<td>RIDWAN Olayinka Abdulateef</td>
													<td>CST\18\COM\00011</td>
												</tr>
												<tr>
														<td>5</td>
														<td>Jafar Olayiwola AbdulWaheed</td>
														<td>CST\18\COM\00014</td>
													</tr>
													<tr>
															<td>6</td>
															<td>Kelechi Emmanuel Nwokoro</td>
															<td>CST\18\COM\00090</td>
														</tr>
														<tr>
																<td>7</td>
																<td>Habib Ibrahim Yabagi</td>
																<td>CST\18\COM\00050</td>
															</tr>
															<tr>
																	<td>8</td>
																	<td>AbdulHakim Muhammad Bello</td>
																	<td>CST\18\COM\00077</td>
																</tr>

								</tbody>
							
						</table>

{% endblock content %}